<p>Collection-RED is a node which helps you to manage your context objects within a flow more easily.</p>

<h3>Inputs</h3>
<dl class="message-properties">
  <dt>Collection
    <span class="property-type">msg | flow | global</span>
    <dd> Select where your collection is stored or will be created </dd>
  </dt>
</dl>
<dl class="message-properties">
  <dt>Type
    <span class="property-type">Object | Map | Array | Set</span>
    <dd> Select the type of your collection.
  </dt>
</dl>
<dl class="message-properties">
  <dt>Create Collection
    <span class="property-type">boolean</span>
    <dd> Select if the collection should be created if not existing. For some types and actions this is mandatory.
  </dt>
</dl>
<dl class="message-properties">
  <dt>Action
    <span class="property-type">string</span>
    <dd> Select the action this node should do. The selection depends on the choosen collection type.
  </dt>
</dl>
<dl class="message-properties">
  <dt>Key / Index
    <span class="property-type">string</span>
    <dd> Select the key or if the type is Array the index for the operation.
  </dt>
</dl>
<dl class="message-properties">
  <dt>Value
    <span class="property-type">string</span>
    <dd> Set or insert this value into the selected key / index position.
  </dt>
</dl>