<script context='module'>
  RED.nodes.registerType('collection', {
    category: 'function',
    color: '#FFCC66',
    defaults: {
      name: { value: '', label: 'Name' },
      collection: { value: '', label: 'Collection', required: true },
      collectionInputType: { value: 'flow' },
      collectionType: { value: '', label: 'Type' },
      createCollection: { value: false, label: 'Create if not existing' },
      action: { value: '', label: 'Action' },
      onConflict: { value: 'exception', label: 'Conflict resolution' },
      warnOnConflict: { value: true, label: 'Log warning' },
      keyOrIndex: { value: 'topic', label: 'Key or Position' },
      keyInputType: { value: 'msg' },
      value: { value: 'payload', label: 'Value' },
      valueInputType: { value: 'msg' },
      outputs: { value: 1}
    },
    inputs: 1,
    outputs: 1,
    outputLabels: ['default', 'error'],
    icon: function () {
      if (this.collectionType === 'Array' || this.collectionType === 'Set') return 'parser-csv.svg'
      else return 'parser-json.svg'
    },
    label: function () {
      if (this.name) {
        return this.name
      } else if (this.collection) {
        const needKeyInput = ['insert', 'set', 'delete key', 'has key', 'get value', 'delete key', 'delete index'].includes(this.action)
        const needValueInput = ['insert', 'set', 'add', 'has value', 'delete value'].includes(this.action)

        return `${this.collectionInputType}.${this.collection} - ${this.action} ${needKeyInput ? '- ' + this.keyOrIndex : ''} ${needValueInput ? ': ' +  this.value : ''}`
      } else {
        return 'collection'
      }
    },
    oneditprepare: function () {
      // downward compatible
      if (this.action === 'get index value') this.action = 'get value'
      render(this)
    },
    oneditsave: function () {
      update(this)
      if (this.onConflict === 'output') this.outputs = 2
      else this.outputs = 1
    },
    oneditcancel: function () {
      revert(this)
    },
  })
</script>

<style>
</style>

<script>
  export let node
  import { Callout, Group, Input, TypedInput, Select } from 'svelte-integration-red/components'
  import { createActionDescription, createOnConflictDescription } from './utils/descriptionHelper.js'

  // constant typedInput options can't be const due to svelte bind
  let collectionInputTypes = ['msg', 'flow', 'global']
  let standardInputTypes = [ 'str', 'num', 'bool', 'json', 'jsonata', 'msg', 'flow', 'global']
  let setThoseKeyOrIndexTypes = []
  let isInit = true
  const collectionTypes = ['Object', 'Map', 'Array', 'Set']
  let actions = []
  let onConflictOptions = {
    exception: 'throw exception',
    output: 'error output',
    discard: 'discard msg',
  }
  let onConflictDescription = ''
  let actionDescription = ''
  let keyOrIndexLabel = ''
  let needKeyInput = true
  let needValueInput = true
  let needConflictInput = true
  let disableCreationInput = false

  $: keyOrIndexTypes = [...setThoseKeyOrIndexTypes] // todo: check if this could be made less complicated :)
  let conflictInputTypes = [...standardInputTypes, { value: '$null', label: 'null', hasValue: false} ] // do not use "null" even as string it will break typedInput

  $: node.namePlaceholder = node.collection
      ? `${node.collectionInputType}.${node.collection} - ${node.action} ${needKeyInput ? '- ' + node.keyOrIndex : ''} ${needValueInput ? ': ' +  node.value : ''}`
      : 'collection'

  $: if (node.action) {
    needKeyInput = ['insert', 'set', 'delete key', 'has key', 'get value', 'delete key', 'delete index'].includes(node.action)
    needValueInput = ['insert', 'set', 'add', 'has value', 'delete value'].includes(node.action)
    needConflictInput = ['insert', 'set', 'get value', 'delete key', 'add', 'delete value', 'delete index'].includes(node.action)
    
    if (node.collectionType === 'Array' && node.action === 'insert') { 
      needConflictInput = false
    }

    if (!needConflictInput) node.onConflict = 'exception'

    const arrayMustbeCreated = ( node.collectionType === 'Array' && (node.action === 'insert' || (node.action === 'set' && node.onConflict === 'overwrite')) )
    if (arrayMustbeCreated) {
      node.createCollection = true
      disableCreationInput = true
    } else {
      disableCreationInput = false
    }
  }

  const setKeyOrIndexOptions = () => {
    if (node.collectionType === 'Array') {
      keyOrIndexLabel = 'Index'
      setThoseKeyOrIndexTypes = [
        { value: 'last', label: 'last', hasValue: false },
        { value: 'first', label: 'first', hasValue: false },
        'num', 'msg', 'jsonata'
      ]
      node.value = node.value
    } else {
      keyOrIndexLabel = 'Key'
      setThoseKeyOrIndexTypes = standardInputTypes
    }
  }

  const setOnConflictOptions = () => {
    delete onConflictOptions.keep
    delete onConflictOptions.overwrite

    if (node.action === 'set' || node.action === 'insert' || node.action === 'add' || node.action === 'delete value') {
      delete onConflictOptions.default
      switch (node.collectionType) {
        case 'Object':
          onConflictOptions.keep = 'keep value and go on'
          onConflictOptions.overwrite = 'overwrite value and go on'
          break
        case 'Map':
          onConflictOptions.keep = 'do not create and go on'
          onConflictOptions.overwrite = 'create value and go on'
          break
        case 'Array':
          onConflictOptions.keep = 'do not ' + node.action + ' and go on'
          onConflictOptions.overwrite = node.action + ' and go on'
          break
        case 'Set':
          onConflictOptions.keep = 'ignore and go on'
          break
      }
    } else {
      onConflictOptions.default = 'return default value'
    }
    onConflictOptions = onConflictOptions
  }

  const actionChanged = () => {
    setOnConflictOptions()
    if (node.collectionType === 'Array' && node.action === 'set') node.onConflict = 'overwrite'
  }

  const collectionChanged = () => {
    if (node.collectionType === 'Object') actions = ['insert', 'set', 'get value', 'get values', 'get keys', 'get size', 'get entries', 'delete key', 'clear'] 
    if  (node.collectionType === 'Map') actions = ['insert', 'set', 'get value', 'get values', 'has key', 'get keys', 'get size', 'get entries', 'delete key', 'clear'] 
    if (node.collectionType === 'Array') actions = ['insert', 'set', 'get value', 'get size', 'delete index', 'clear'] 
    if (node.collectionType === 'Set') {
      actions = ['add', 'has value', 'get values', 'get size', 'delete value', 'clear'] 
      if (!isInit) node.onConflict = 'keep'
    }

    if (!isInit) {
      node.action = actions[0]
      actionChanged()
    } else {
      setOnConflictOptions()
    }
    setKeyOrIndexOptions()
  }
  // init after loading
  collectionChanged()
  $: {
    onConflictDescription = createOnConflictDescription(node)
    actionDescription = createActionDescription(node)
  }
  isInit = false
</script>

<Input bind:node prop='name' bind:placeholder={node.namePlaceholder} />

<!-- Collection settings -->
<Group label="Collection settings">
  <TypedInput bind:node prop='collection' bind:types={collectionInputTypes} typeProp='collectionInputType'/>
  <Select bind:node prop='collectionType' on:change={collectionChanged}>
    {#each collectionTypes as type}
      <option value={type}>{type}</option>
    {/each}
  </Select>
  <Input indented bind:node prop='createCollection' bind:value={node.createCollection} type='checkbox' bind:disabled={disableCreationInput} />
</Group>
<!-- Action options -->
<Group label="Action settings">
  <Select bind:node prop='action' on:change={actionChanged}>
    {#each [...actions] as action}
      {#if (action === node.action)}
        <option value={action} selected>{action}</option>
      {:else} 
        <option value={action}>{action}</option>
      {/if}
    {/each}
  </Select>
  <Callout indented type="info">{actionDescription}</Callout>
  <!-- Set key/position and value -->
  {#if (needKeyInput)}
    <TypedInput bind:node prop='keyOrIndex' bind:label={keyOrIndexLabel} bind:types={keyOrIndexTypes} typeProp='keyInputType'/>
  {/if}
  {#if (needValueInput)}
    <TypedInput bind:node prop='value' types={standardInputTypes} typeProp='valueInputType'/>
  {/if}
</Group>
<!-- Conflict options -->
<Group label="Conflict">
  {#if (needConflictInput)}
    <Select bind:node prop='onConflict'>
      {#each Object.entries(onConflictOptions) as [k, v]}
          <option value={k} selected={k === node.onConflict}>{v}</option>  
      {/each}
    </Select>
    {#if (node.onConflict === 'default' && !needValueInput)}
      <TypedInput bind:node prop='value' types={conflictInputTypes} typeProp='valueInputType'/>
    {/if}
    {#if (node.action !== 'has value' && node.action !== 'has key')}
      {#if node.onConflict !== 'exception' && node.onConflict !== 'output'}
        <Input indented bind:node prop='warnOnConflict' type='checkbox'/>
      {/if}
    {/if}
  {/if}
  <Callout indented type="info">{onConflictDescription}</Callout>
</Group>
